.like {
    color: black;
    position:absolute;
     top: -100px; 
    left: 40%;
    z-index: 100;
}

.like:hover{
    color:red;
}

.addComs {
   display: flex;
   justify-content: center;
   width: 100%;
    padding: 10px;

    box-sizing: border-box;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    z-index: 1550;
}

.addComs>textarea{
    padding: 5px 20px;
    width:70%;
}

.postFoot1{
 position: relative;
 width: 50%;
 left:50px;
 top:-80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.listeCommentaires {
   width: 80%;
}
.commentaire {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
}
.divBtn{
    margin: 10px;
    color: purple;
}

body {
    height: 100vh;
}